* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5%;
    background-color: #031019;
    color: #8d9ea5;
}

header {
    /* make sticky */
}

main {
    padding: 0.2rem 2rem;
}

main>section {
    margin: 2rem 0;
}

footer {
    text-align: center;
}

nav {
    padding: 0.2rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    _background-color: #8d9ea5;
}

a {
    color: #8d9ea5;
    font-family: 'Roboto';
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
}

a>svg {
    color: rgb(0, 153, 255);
    width: 1rem;
}

a:hover {
    color: #2a465c;
}



.h2, hr {
    color: #316d92;
}

.wrapper {
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #316d92;
}

.wrapper img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 45px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.ulist {
    padding: 0 1rem;
}

.social {
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: silver;
    border-radius: 10px;
}

.arImage {
    width: 2.5rem;
    height: 2.5rem;
    background: linear-gradient(rgba(3,213,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
}

article>svg {
    margin: 0.5rem;
}